@import '/static/public/styles/1.0.0/dku-styles.css';

body {
    background: var(--grey-background);
}

/*
.block-header {
    flex: 0 0 auto;
    padding: 8px;
    height: 40px;
}
.block-body {
    flex: 1 1 auto;
    overflow: auto;
}


/* 
.results-table {
    visibility: hidden;
}

.results-table--visible .results-table {
    visibility: visible;
    border-collapse: collapse;
}

.main-container {
    display: flex;
}

.left-block, .right-block {
    background: var(--white);
    margin: 16px;
    box-sizing: border-box;
    height: calc(100% - 25px);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
}

.left-block {
    flex: 1 2 0;
}

.right-block {
    flex: 2 2 0;
}

.no-inputs .left-block, .no-inputs .right-block {
    display: none;
}

.left-block h2, .right-block h2 {
    margin-top: 0;
    color: var(--grey-lighten-1)
}

form textarea:not([rows]).scoring__textarea {
    width: 100%;
    padding: 8px;
    height: 400px;
    max-height: inherit;
}

#scoring-mode {
    float: right;
}

.scoring__button {
    float: right;
}

#clear-results {
    display: none;
    float: right;
}

.link {
    text-decoration: none;
    color: var(--blue);
}

.link:hover {
    text-decoration: underline;
}

#scoring-form {
    display: none;
}

#message {
    color: var(--error-red);
    font-weight: 500;
} 

#two-class-table {
    display: none;
}

#multi-class-table {
    display: none;
}

#regression-table {
    display: none;
}

.two-class-scoring--visible #two-class-table {
    display: table;
}

.multi-class-scoring--visible #multi-class-table {
    display: table;
}

.regression-scoring--visible #regression-table {
    display: table;
}

.results-table--visible .results-placeholder {
    display: none;
}
.results-placeholder {
    text-align: center;
}

.result-summary:hover {
    cursor: pointer;
    background: var(--grey-lighten-7);
    box-shadow: 0 0 4px rgba(33, 33, 33, .3);
}

.result-details--visible.result-summary {
    box-shadow: none;
    background: var(--grey-lighten-7);
    border-top: 4px solid white;
}

.result-details {
    display: none;
}

.result-details--visible + .result-details {
    display: table-row;
    background: var(--grey-lighten-7);
    border-bottom: 2px solid var(--grey-lighten-6);
}
 */